<app-header-register></app-header-register>

<div class="container">
  <div class="card bg-light">
    <div class="card-body mx-auto text-center">
      <p class="card-title text-center mt-3">Iniciar Sesión</p>
      <hr>

      <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="login()" autocomplete="off">
        <div class="form-group mb-3">
          <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input type="email" maxlength="320" formControlName="email" matInput>
            <mat-hint class="text-danger" *ngIf="loginForm.hasError('required', 'email') && formDir.submitted">
              *Campo requerido
            </mat-hint>
            <mat-hint class="text-danger" *ngIf="loginForm.hasError('email', 'email') 
                || loginForm.hasError('minlength', 'email')
                || loginForm.hasError('maxlength', 'email')
                && formDir.submitted">
              *Correo invalido
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-group mb-3">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input maxlength="8" type="password" formControlName="password" matInput>
            <mat-hint class="text-danger" *ngIf="loginForm.hasError('required', 'password') && formDir.submitted">
              *Campo requerido
            </mat-hint>
            <mat-hint class="text-danger" *ngIf="loginForm.hasError('pattern', 'password')
              || loginForm.hasError('minlength', 'password') 
              || loginForm.hasError('maxlength', 'password')
              && formDir.submitted">
              *8 carácteres, al menos 1 mayúscula, 1 minúscula, 1 número, 1 símbolo
            </mat-hint>
          </mat-form-field>
        </div>
        <button type="submit" class="bg-primary text-white" mat-raised-button>Iniciar Sesión</button>
      </form>
      <hr>
      <p class="text-center">No tienes una cuenta? <a id="register" routerLink="/register-client" href="">Registrarse</a></p>
    </div>
  </div>
</div>

