.grey {
  background-color: rgb(36, 39, 49);
}

/* mat-form-field,button {
  width: 22rem;
} */

.card {
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
}

.card-title {
  font-weight: 350;
  font-size: 1.5rem;
}

/* button {
  font-size: 15px;
} */
