.grey {
  background-color: rgb(36, 39, 49);
}

input,
button {
  width: 22rem;
  height: 2.5rem;
}

.card {
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%);
}

.card-title {
  font-weight: 350;
  font-size: 1.5rem;
}

button {
  font-size: 18px;
  clear:left;
}

.div-alert {
  max-width: 17rem;
}

@media only screen and (min-width: 1050px) {
  .alert-message {
    position: relative;
    float: left;
    bottom: 2.4rem;
    left: 22.5rem;
  }
}
