mat-form-field,
button {
  width: -webkit-fill-available;
}

@media only screen and (min-width: 420px) {
  mat-form-field,button {
    width: 22rem;
  }
}

.card {
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%);
}

.card-title {
  font-weight: 350;
  font-size: 1.5rem;
}