<div class="container">
  <br>
  <h3>Registro</h3>
  <br>
  <!--<form [formGroup]="supportForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>-->
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">

      <label>Nombre: </label>
      <input id="Name" type="text" formControlName="name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && this.name.errors }" />
      <div *ngIf="submitted && this.name.errors" class="invalid-feedback">
        <div *ngIf="this.name.errors.required">Se requiere el nombre</div>
        <div *ngIf="this.name.errors.pattern">Solo se permiten letras</div>
      </div>
    </div>

    <div class="form-group">
      <label>Primer apellido: </label>
      <input id="First_L" type="text" formControlName="First_L" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && this.First_L.errors }" />
      <div *ngIf="submitted && this.First_L.errors" class="invalid-feedback">
        <div *ngIf="this.First_L.errors.required">Se requiere el primer apellido</div>
        <div *ngIf="this.First_L.errors.pattern">Solo se permiten letras</div>
      </div>
    </div>

    <div class="form-group">
      <label>Segundo apellido: </label>
      <input id="Second_L" type="text" formControlName="Second_L" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && this.Second_L.errors }" />
      <div *ngIf="submitted && this.Second_L.errors" class="invalid-feedback">
        <div *ngIf="this.Second_L.errors.required">Se requiere el segundo apellido</div>
        <div *ngIf="this.Second_L.errors.pattern">Solo se permiten letras</div>
      </div>
    </div>

    <div class="form-group">
      <label>Correo electrónico: </label>
      <input id="Email" type="text" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && this.email.errors }" />
      <div *ngIf="submitted && this.email.errors" class="invalid-feedback">
        <div *ngIf="this.email.errors.required">Se requiere el correo</div>
        <div *ngIf="this.email.errors.email">Debe ingresar un correo válido</div>
      </div>
    </div>

    <div class="form-group">
      <label>Contraseña: </label>
      <input id="Pass" type="password" formControlName="pass" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && this.pass.errors }" />
      <div *ngIf="submitted && this.pass.errors" class="invalid-feedback">
        <div *ngIf="this.pass.errors.required">Se requiere la contraseña</div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" value="radioButtonSupport" formControlName="radioButton" name="radioButton"
          id="radioButtonSupport"  checked>
        <label class="form-check-label" for="radioButtonSupport">
          Soporte
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="radioButtonSupervisor" formControlName="radioButton" name="radioButton"
          id="radioButtonSupervisor">
        <label class="form-check-label" for="radioButtonSupervisor">
          Supervisor
        </label>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary">Registrarse</button>
    </div>

    <div class="form-group">
      <div *ngIf="loading" class="alert alert-info form-group row">Porfavor espere...</div>
      <div *ngIf="error" class="alert alert-danger form-group row">{{error}}</div>
    </div>

  </form>
</div>
