<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid text-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


<div class="container mt-5">
    <div class="card bg-light">
        <div class="card-body mx-auto ">
            <p class="card-title text-center mt-3">Registrar Usuario</p>
            <hr>
            <form class="example-form" [formGroup]="addUserForm" #formDir="ngForm" (ngSubmit)="register()" autocomplete="off">
                <div class="form-group mx-auto mb-2">
                    <!-- <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline"> -->
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input maxlength="50" minlength="3" type="text" formControlName="name" placeholder="Nombre" matInput>
                        <mat-hint class="text-danger" *ngIf="addUserForm.hasError('required', 'name') && formDir.submitted">
                            *Campo requerido
                        </mat-hint>
                        <mat-hint class="text-danger" *ngIf="addUserForm.hasError('pattern', 'name') 
                            || addUserForm.hasError('minlength', 'name')
                            || addUserForm.hasError('maxlength', 'name')
                            && formDir.submitted">
                            *Campo inválido
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="example-full-width ">
                        <mat-label>Apellidos</mat-label>
                        <input maxlength="50" minlength="3" type="text" formControlName="lastName" placeholder="Apellidos" matInput>
                        <mat-hint class="text-danger" *ngIf="addUserForm.hasError('required', 'lastName') && formDir.submitted">
                            *Campo requerido
                        </mat-hint>
                        <mat-hint class="text-danger" *ngIf="addUserForm.hasError('pattern', 'lastName') 
                            || addUserForm.hasError('minlength', 'lastName')
                            || addUserForm.hasError('maxlength', 'lastName')
                            && formDir.submitted">
                            *Campo inválido
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input maxlength="320" type="email" formControlName="email" matInput>
                        <mat-hint class="text-danger" *ngIf="addUserForm.hasError('required', 'email') && formDir.submitted">
                            *Campo requerido
                        </mat-hint>
                        <mat-hint class="text-danger" *ngIf="addUserForm.hasError('pattern', 'email') 
                                || addUserForm.hasError('minlength', 'email')
                                || addUserForm.hasError('maxlength', 'email')
                                && formDir.submitted">
                            *Correo inválido
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Contraseña</mat-label>
                        <input maxlength="8" type="password" formControlName="password" placeholder="Contraseña" matInput>
                            <mat-hint class="text-danger" *ngIf="addUserForm.hasError('required', 'password') && formDir.submitted">
                                *Campo requerido
                            </mat-hint>
                            <mat-hint class="text-danger" *ngIf="addUserForm.hasError('pattern', 'password')
                                || addUserForm.hasError('minlength', 'password') 
                                || addUserForm.hasError('maxlength', 'password')
                                && formDir.submitted">
                                *8 carácteres, al menos 1 mayúscula, 1 minúscula, 1 número, 1 símbolo
                            </mat-hint>
                    </mat-form-field>

                    <mat-label>Escoja el role del usuario: </mat-label>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1" aria-checked="">Soporte</mat-radio-button>
                        <mat-radio-button value="2">Supervisor</mat-radio-button>
                    </mat-radio-group>

                    <br>
                    <br>
                    <mat-label>Escoja los servicios: </mat-label>
                    <section class="example-section">
                        <mat-checkbox class="example-margin">Telefonia</mat-checkbox>
                        <mat-checkbox class="example-margin">Cable</mat-checkbox>
                        <mat-checkbox class="example-margin">Internet</mat-checkbox>
                        <mat-checkbox class="example-margin">Telefonia fija</mat-checkbox>
                    </section>
                </div>
            </form>
        </div>
    </div>
</div>