.grey {
  background-color: rgb(36, 39, 49);
}

#wrapper {
  position: relative;
  min-height: 100vh;
}

.content {
  padding-bottom: 7rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
