<app-nav-main></app-nav-main>

<div id="content" class="container mt-5">
  <div class="card bg-light">
    <div class="card-body mx-auto text-center">
      <p class="card-title text-center mt-3">Iniciar Sesión</p>
      <hr>
      <div class="form-group">
        <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
          <div class="form-group mb-3">
            <label for="email">Correo</label>
            <input id="email" type="text" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && this.email.errors }" matInput>
            <div *ngIf="submitted && this.email.errors" class="invalid-feedback">
              <div *ngIf="this.email.errors.required">Se requiere el correo</div>
              <div *ngIf="this.email.errors.email">Debe ingresar un correo válido, con mínimo 10 caracteres.</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="pass">Contraseña</label>
            <input id="pass" type="password" formControlName="pass" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && this.pass.errors }" maxlength="8" minlength="8"/>
            <div *ngIf="submitted && this.pass.errors" class="invalid-feedback">
              <div *ngIf="this.pass.errors.required">Se requiere la contraseña</div>
              <div *ngIf="this.pass.errors">La contraseña debe llevar, una mayúscula,<br> una minúscula, un número, un simbolo<br> y extensión mínima de 8 caracteres.</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <button class="bg-primary text-white mb-3" mat-raised-button>Ingresar</button>
          </div>
          <mat-label *ngIf="loading" class="alert alert-info form-group  w-5 mt-2">Ingresando...</mat-label>
          <mat-label *ngIf="error" class="alert alert-danger form-group w-5 mt-2">{{error}}</mat-label>
        </form>
      </div>
      <hr>
      <p class="text-center">No tienes una cuenta? 
        <a routerLink="add" [routerLink]="['/register']"
            >Registrarse</a>
      </p>
    </div>
  </div>
</div>
