<app-header-client></app-header-client>

<div id="content" class="container mt-3">
    <div class="card bg-light">
        <div class="card-body mx-auto ">
            <p class="card-title text-center mt-1">Ingresar problema con el servicio</p>
            <hr>
            <form class="example-form" [formGroup]="addUserRequestForm" #formDir="ngForm" (ngSubmit)="addRequestClient()" autocomplete="off">
                <div class="form-group mx-auto mb-2">

                    <mat-form-field class="example-full-width">
                        <mat-label>Descripción</mat-label>
                        <textarea maxlength="255" minlength="5" type="text" formControlName="description" matInput placeholder="Dificultades técnicas"></textarea>
                        <mat-hint class="text-danger" *ngIf="addUserRequestForm.hasError('pattern', 'description') 
                            || addUserRequestForm.hasError('minlength', 'description')
                            || addUserRequestForm.hasError('maxlength', 'description')
                            && formDir.submitted">
                          *Campo inválido
                        </mat-hint>
                    </mat-form-field>


                    <mat-form-field class="example-full-width">
                        <mat-label>Télefono</mat-label>
                        <input maxlength="8" type="tel" formControlName="phone" matInput>
                        <mat-hint align="end">Opcional</mat-hint>
                        <mat-hint class="text-danger" *ngIf="addUserRequestForm.hasError('required', 'phone') && formDir.submitted">
                            *Campo requerido
                        </mat-hint>
                        <mat-hint class="text-danger" *ngIf="addUserRequestForm.hasError('minlength', 'phone')
                            || addUserRequestForm.hasError('maxlength', 'phone')
                            || addUserRequestForm.hasError('pattern', 'phone')
                            && formDir.submitted">
                                *Télefono invalido
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input maxlength="320" type="email" formControlName="email" matInput>
                        <mat-hint align="end">Opcional</mat-hint>
                        <mat-hint class="text-danger" *ngIf="addUserRequestForm.hasError('pattern', 'email') 
                                || addUserRequestForm.hasError('minlength', 'email')
                                || addUserRequestForm.hasError('maxlength', 'email')
                                && formDir.submitted">
                            *Correo inválido
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Dirección</mat-label>
                        <input maxlength="255" minlength="20" type="text" formControlName="address" matInput>
                        <mat-hint align="end">Opcional</mat-hint>
                    </mat-form-field>
                    <br>
                    
                    <div class="form-group mb-2">
                        <mat-label>Seleccione el servicio que presenta el problema: </mat-label>
                        <br>
                        <br>
                        <mat-radio-group   formControlName="control">
                          <mat-radio-button value="2" color="primary">Cable</mat-radio-button>
                          <mat-radio-button value="3" color="primary">Internet</mat-radio-button>
                          <mat-radio-button value="1" color="primary">Telefonía movil</mat-radio-button>
                          <mat-radio-button value="4" color="primary">Telefonía fija</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <hr>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="bg-primary text-white mb-3" mat-raised-button>Aceptar</button>
                        <button type="submit" class="bg-danger  text-white mb-3" id="button_cancel" (click)="clear()" mat-raised-button>Cancelar</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
