.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .card-title {
    font-weight: 350;
    font-size: 1.5rem;
  }

  .example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .card {
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%);
  }
  #content {
    /*Space for footer*/
    padding-bottom: 7em;
  }
  #button_cancel{
    margin-left: 1rem;
  }