<app-header-user></app-header-user>

<div class="container mt-5">

  <table class="table table-hover text-center">
    <thead>
    <tr>
      <th scope="col"># Solicitud</th>
      <th scope="col"> Clasificación Solicitud</th>
      <th scope="col">Estado</th>
      <th scope="col">Fecha/Hora</th>
      <th scope="col">Detalle</th>
      <th scope="col">Asignar Soporte</th>

    </tr>
    </thead>
    <tbody>
    <tr >
      <th scope="row">1</th>
      <td>
        (Telefonía móvil, Cable, Internet, Telefonía fija)
      </td>
      <td>(Ingresado, Asignado, En Progreso, Resuelto)</td>
      <td> 25-06-2021 08:46:38 PM</td>
      <td> 
        <button type="button" class="details" title="details">
          <span>
            <i class="fas fa-info"></i>
          </span>
        </button>
      </td>
      <td> 
        <button type="button" class="assign" title="assign">
          <span>
            <i class="fas fa-user-plus"></i>
          </span>
        </button>
      </td>
    </tr>
    <tr >
      <th scope="row">2</th>
      <td>
        (Telefonía móvil, Cable, Internet, Telefonía fija)
      </td>
      <td>(Ingresado, Asignado, En Progreso, Resuelto)</td>
      <td> 25-06-2021 08:46:38 PM</td>
      <td> 
        <button type="button" class="details" title="details">
          <span>
            <i class="fas fa-info"></i>
          </span>
        </button>
      </td>
      <td> 
        <button type="button" class="assign" title="assign">
          <span>
            <i class="fas fa-user-plus"></i>
          </span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
