<app-header-client></app-header-client>

<div class="container mt-5">
  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col"># Solicitud</th>
          <th scope="col">Clasificación Solicitud</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha/Hora</th>
          <th scope="col">Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>(Telefonía móvil, Cable, Internet, Telefonía fija)</td>
          <td>(Ingresado, Asignado, En Progreso, Resuelto)</td>
          <td>25-06-2021 08:46:38 PM</td>
          <td>
            <button type="button" class="details" title="details" (click)="openRequestDetails(RequestDetails)">
              <span>
                <i class="fas fa-info"></i>
              </span>
            </button>
          </td>
          
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>(Telefonía móvil, Cable, Internet, Telefonía fija)</td>
          <td>(Ingresado, Asignado, En Progreso, Resuelto)</td>
          <td>25-06-2021 08:46:38 PM</td>
          <td>
            <button type="button" class="details" title="details" (click)="openRequestDetails(RequestDetails)">
              <span>
                <i class="fas fa-info"></i>
              </span>
            </button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #RequestDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Detalles de solicitud
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="content" class="container mt-1">
        <div class="card bg-light">
          <div class="card-body mx-auto">
            <hr />
            <form
              class="example-form"
              [formGroup]="assignSupportForm"
              #formDir="ngForm"
              (ngSubmit)="register()"
              autocomplete="off"
            >
              <div class="form-group mx-auto mb-2" id="">
                <div class="divToChargeInfo">
                  <mat-label>Número de Solicitud: #</mat-label><br /><br />
                  <mat-label>Cliente: #</mat-label><br /><br />
                  <mat-label>Email: #</mat-label><br /><br />
                  <mat-label>Teléfono: #</mat-label><br /><br />
                  <mat-label>Teléfono Alternativo: #</mat-label><br /><br />
                  <mat-label>Dirección: #</mat-label><br /><br />
                  <mat-label>Teléfono Alternativo: #</mat-label><br /><br />
                  <mat-label>Estado: #</mat-label><br /><br />
                  <mat-label>Soporte Asignado: #</mat-label><br /><br />
                </div>
               
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
